

<md-toolbar layout="row" class="md-hue-3" md-whiteframe="3">
    <div class="toolBgc">
        <div  class="md-toolbar-tools">
        
            <md-input-container flex-gt-sm class="srch">
                <label>Search Ride Post </label>
                <input ng-model="searchText" placeholder="Search Ride Post" class="searchText">
            
            </md-input-container>
    

            <md-menu md-offset="200 60">
                <md-button class="btn1" layout-align="right right" ng-click="$mdOpenMenu($event)">Create Post
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="showDialog($event,'lookup')"> <span md-menu-align-target>Look Up</span> </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showDialog($event,'offer')"> <span md-menu-align-target>Offer</span> </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>

<div layout="row" ng-controller="homeController" class="sidenav">
    <div class="sidenavBgc1">
        <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('min-width: 333px')">
            <div class="sidenavBgc2">
                <md-list>
                    <md-list-item ng-click="type='offer'" class="btn1">
                        <p layout="row" layout-align="center">Ride Offer</p>
                    </md-list-item>
                    <md-list-item ng-click="type='lookup'">
                        <p layout="row" layout-align="center">Ride Look Up</p>
                    </md-list-item>          
                </md-list>
            </div>
        </md-sidenav>
    </div>

<md-content class="navcnt" ng-controller="homeController">
    <div class="md-padding" layout-xs="column" layout="row" ng-repeat="post in posts | filter: searchText">
        <div flex-xs flex-gt-xs="80" layout="column" class="cardposi" ng-if="post.type==type">
            <md-card ng-click="null" class="cardbgc">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{post.firstName}} {{post.lastName}}</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-title>
                    <md-card-title-text layout="column">
                        <span class="md-headline">From: {{post.from}}</span>
                        <span class="md-headline">To:{{post.to}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Departure:{{post.departure}}</span>
                        <span class="md-headline" ng-if="post.trip=='RoundTrip'"> {{post.return}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showDetail($event,post)">View More</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
</div>

