<md-dialog>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 ng-if="viewDialogVM.post.type=='lookup'">View Lookup Details</h2>
            <h2 ng-if="viewDialogVM.post.type=='offer'">View Offer Details</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Personal Info">
                <div class="dialogClass">
                    <div style="margin-top:50px" >
                        <md-content flex layout-padding>
                            <span class="md-headline">{{viewDialogVM.post.firstName}} {{viewDialogVM.post.lastName}}</span>
                        </md-content>
                        <md-content flex layout-padding>
                            <span class="md-headline">{{viewDialogVM.post.email}} </span>
                        </md-content>
                        <md-content flex layout-padding>
                            <span class="md-headline">{{viewDialogVM.post.phone}} </span>
                        </md-content>
                    </div>
                </div>
            </md-tab>

            <md-tab label="Travel Info">
                <div class="dialogClass">
                    <div style="margin-top:50px" >
                        <md-content flex layout-padding>
                            <span class="md-headline">{{viewDialogVM.post.from}} {{viewDialogVM.post.to}}</span>
                        </md-content>
                        <md-content flex layout-padding>
                            <span class="md-headline">{{viewDialogVM.post.departure}} {{viewDialogVM.post.return}}</span>
                        </md-content>
                        <md-content flex layout-padding>
                            <span class="md-headline">{{viewDialogVM.post.seats}} </span>
                        </md-content>
                    </div>
                </div>
            </md-tab>

            <md-tab label="Comment">
                <div class="dialogClass">
                    <div style="margin-top:50px" >
                        <md-content flex layout-padding>
                            <p>{{viewDialogVM.post.comment}}</p>
                        </md-content>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>